<h1>Book this RV:</h1>

<%= simple_form_for [@camper, @booking] do |f| %>
  <div>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <p>Day/<%="#{@camper.price}"%></p>
    <%= f.button :submit, value: "Book" %>
  </div>
<% end %>
