<div class="content-campers" style="margin-top:50px; margin-bottom:75px; width:40%;">
  <h2 class="d-flex justify-content-center align-items-center">Create your camper</h2>
  <div class="mt-4">
    <%= simple_form_for [@camper] do |f| %>
      <div class="card p-4 booking-form">
        <%= f.input :name  %>
        <%= f.input :description, as: :text %>
        <%= f.input :price, label:"Enter your price per day" %>
        <%= f.input :address, label:"Where is your camper located?" %>
        <%= f.input :image, as: :file %>
        <div class="form-actions d-flex justify-content-center align-items-center">
          <%= f.button :submit, value: "Create", class: "btn btn-warning mt-4", style: "border-radius:6px;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
