<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.category %>
</p>

<!--- <p>
  <strong>Review:</strong>
</p>
<ul class="reviews">
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
 </ul> --->

<%= link_to "Book now!", new_camper_booking_path(@camper) %>
<%= link_to "Back", campers_path %>
