<div class="content-campers mt-5">
  <div class="back-list">
    <a href="/campers/">⬅️ back to campers</a>
  </div>
  <div class="image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @camper.image.key, height: 300, width: 200, crop: :fill %>')">


  </div>
  <div class="card-information">
    <div class="card-name-description">
      <h2><%= @camper.name %></h2>
      <h4><%= @camper.description %></h4>
    </div>
    <div>
      <h4><%= @camper.price%>€</h4>
      <%= link_to "Book now!", new_camper_booking_path(@camper), class: "btn btn-warning mt-3", style: "border-radius: 6px;" "color: white;" %>
    <div class="price-booking-text">
      <h4><%= @campers.price %>€ / day</h4>
      <%= link_to "Book now!", new_camper_booking_path(@campers), class: "btn btn-warning mt-3", style: "border-radius: 6px;" "color: white;" %>
      <%# <a class="btn btn-warning mt-3" style="border-radius: 6px;" href="/campers/camper_id/bookings/new">Booking</a> %>
    </div>
  </div>
</div>
