<div class="content-campers mt-5">
  <div class="back-list">
    <a href="/campers/">⬅️ back to campers</a>
  </div>
  <div class="image-show">
    <%= image_tag("camper.jpg", :alt => "camperpic", class:"card-img-top") %>
  </div>
  <div class="card-information">
    <div class="card-name-description">
      <h2><%= @campers.name %></h2>
      <h4><%= @campers.description %></h4>
    </div>
    <div>
      <h4><%= @campers.price%>€</h4>
      <%= link_to "Book now!", new_camper_booking_path(@campers), class: "btn btn-warning mt-3", style: "border-radius: 6px;" "color: white;" %>
      <%# <a class="btn btn-warning mt-3" style="border-radius: 6px;" href="/campers/camper_id/bookings/new">Booking</a> %>
    </div>
  </div>
</div>
