<!DOCTYPE html>
<html>
  <head>
    <title>RVCentral</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <nav>
    <%= image_tag("rv-logo.png", :alt => "logo", class: "logo-image") %>
    <%# <h2>RV Central</h2> %>
    <ul>
      <li><a href="#">All Campers</a></li>
      <li><a href="#">Your bookings</a></li>
      <li><a href="#">Your profile</a></li>
    </ul>
  </nav>
    <%= yield %>
    <!---<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>--->


  <footer>
    <ul>
      <li><p>&copy 2021 - RV Central</p></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </footer>
  </body>
</html>
