<!DOCTYPE html>
<html>
  <head>
    <title>RVCentral</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <nav>
<<<<<<< HEAD
    <%= image_tag("rv-logo.png", :alt => "logo", class: "logo-image") %>
    <%# <h2>RV Central</h2> %>
=======
    <a class="h2-nav" href="/"><h2>RV Central</h2></a>
>>>>>>> master
    <ul>
      <li><a href="/campers">All Campers</a></li>
      <li><a href="#">Your bookings</a></li>
      <li><a href="#">Your profile</a></li>
    </ul>
  </nav>
    <%= yield %>
    <!---<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>--->


  <footer>
    <div>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-facebook"></i></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><p class="text-copyright">&copy 2021 - RV Central</p></li>
      </ul>
    </div>
  </footer>
  </body>
</html>
